/*
* Variables starts
*/
/*
* Variables ends
*/
/*
* Components starts
*/
.btn {
  width: auto;
  min-width: 6rem;
  height: 3rem;
  border-radius: 6px;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #5496d3; }
  .btn:hover {
    opacity: 0.8;
    transform: scale(1.03); }

.btn-primary {
  background-color: #c6538c;
  color: azure;
  font-weight: 700; }

.btn-secondary {
  background-color: #f1c879;
  color: azure;
  font-weight: 700; }

/*
* Components ends
*/
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  height: 100%; }

.App {
  background-color: #1b140c;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden; }
  .App .welcome {
    width: 100%;
    display: block;
    color: #f0d7bb;
    padding: 1rem;
    text-align: center; }
