/*
* Variables starts
*/
$primary-bg: rgb(27, 20, 12);
$main-text-clr: rgb(240, 215, 187);
/*
* Variables ends
*/

/*
* Components starts
*/
@import "../src/components/buttons/buttons.scss";
/*
* Components ends
*/

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  height: 100%;
} 

.App {
  background-color: $primary-bg;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  .welcome {
    width: 100%;
    display: block;
    color: $main-text-clr;
    padding: 1rem;
    text-align: center;
  }
} 